<div class="main-container">
  <h1>{{pageTitle}}</h1>
  <mat-card *ngFor="let policy of policyTrackerData">
    <mat-card-content>
      <div class="row" *ngFor="let overview of policy.overview">
        <h4 class="col-sm-3 font-weight-bold">
          {{overview.overview_title}}
        </h4>
        <div class="col-sm-6">
          {{overview.overview_value}}
        </div>
      </div>
      <mat-tab-group>
        <mat-tab label="Policy Information">
          <app-policy-information [policyInfoData]="policy.policyInfo"></app-policy-information>
        </mat-tab>
        <mat-tab label="Payment History">
          <app-payment-history [paymentHistoryData]></app-payment-history>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
