<div class="main-container">
  <h1>{{pageTitle}}</h1>
  <mat-card *ngFor="let policy of policyTrackerData">
    <mat-card-content>
      <div class="row" *ngFor="let overview of policy.overview">
        <h4 class="col-sm-3 font-weight-bold">
          {{overview.overview_title}}
        </h4>
        <div class="col-sm-6">
          {{overview.overview_value}}
        </div>
      </div>
      <mat-tab-group>
        <mat-tab label="Policy Information">
          <div class="tab-container">
            <h1>Insurance</h1>
            <div class="row">
              <div class="col-sm-2 font-weight-lighter">
                <h3>Life Coverage</h3>
              </div>
              <div class="col-sm-4">
                <h2 class="font-weight-bold">{{policy.policyInfo.life_coverage | currency:'PHP'}}</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2 font-weight-lighter">
                <h3>Amount Due as of Last Statement
                  Dated {{policy.policyInfo.last_statement_date | date: 'mediumDate'}}</h3>
              </div>
              <div class="col-sm-4">
                <h3
                  class="font-weight-bold">{{policy.policyInfo.last_statement_amount | currency:'PHP'}}</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2 font-weight-lighter">
                <h3>Payment Due Date</h3>
              </div>
              <div class="col-sm-4 font-weight-lighter">
                <p>{{policy.policyInfo.payment_due_date}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2 font-weight-lighter">
                <h3>Policy Status</h3>
              </div>
              <div class="col-sm-4 font-weight-lighter">
                <p>{{policy.policyInfo.policy_status}}</p>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Payment History">Payment History</mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
